# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Exam_Assignment/.vs
Exam_Assignment/x64
Exam_Assignment/Win32
Exam_Assignment/Debug
Exam_Assignment/Release
Exam_Assignment/Minigin/.vs
Exam_Assignment/Minigin/x64
Exam_Assignment/Minigin/Win32
Exam_Assignment/Minigin/Debug
Exam_Assignment/Minigin/Release