# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Exam_Assignment/x64/Debug/Minigin.pdb
Exam_Assignment/x64/Debug/Minigin.ilk
Exam_Assignment/x64/Debug/Minigin.exp
Exam_Assignment/Minigin/x64/Debug/vc141.pdb
Exam_Assignment/Minigin/x64/Debug/vc141.idb
Exam_Assignment/Minigin/x64/Debug/Minigin.tlog/link.write.1.tlog
Exam_Assignment/Minigin/x64/Debug/Minigin.tlog/link.read.1.tlog
Exam_Assignment/Minigin/x64/Debug/Minigin.tlog/link.command.1.tlog
Exam_Assignment/Minigin/x64/Debug/Minigin.tlog/Minigin.write.1u.tlog
Exam_Assignment/Minigin/x64/Debug/Minigin.tlog/Minigin.lastbuildstate
Exam_Assignment/Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Exam_Assignment/Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Exam_Assignment/Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Exam_Assignment/Minigin/x64/Debug/Minigin.log
Exam_Assignment/.vs/Minigin/v15/ipch/d16ab9066f58b23b.ipch
Exam_Assignment/.vs/Minigin/v15/Browse.VC.opendb
Exam_Assignment/.vs/Minigin/v15/Browse.VC.db
Exam_Assignment/.vs/Minigin/v15/.suo
Exam_Assignment/Minigin/x64/Debug/Minigin.Build.CppClean.log