body {
    margin: 0;
}

canvas {
    border: 1px solid #000000;
    width: 224;
    height: 288;
}

@font-face {
    font-family: 'emulogic';
    src: url(../fonts/emulogic.ttf) format("truetype");
}